__pycache__/
.mypy_cache/
*.pyc
*.log
*.xlsm
# すべてのPNG画像を無視
*.png
*.dll
*.db
*.csv
*.xlsx
*.json
*.bak
# Markdown はデフォルトで無視するが、仕様書は含める
*.md
!docs/specs/*.md
!docs/specs/**/*.md
templates/index.html.txt
kabusapi-Python-v1.9.0/
# Dendronノートは含める
!dendron/notes/**/*.md
